[[language]]
name = "python"
language-servers = ["ty", "ruff", "pylsp"]

[language-server.ruff.config]
select = ["F"]
ignore = ["F403", "F405", "F821"]
format = ["I"]
lineLength = 120
targetVersion = "py310"

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"] 

[language-server.basedpyright.config.basedpyright.analysis]
autoSearchPaths = true
diagnosticMode = "workspace"
useLibraryCodeForTypes = true
autoImportCompletions = true
typeCheckingMode = "basic"

[language-server.basedpyright.config.basedpyright.analysis.diagnosticSeverityOverrides]
reportUnknownParameterType = "information"
reportUnusedImport = "none"
reportMissingTypeArgument = "information"

[language-server.pylsp]
command = "pylsp"

[language-server.pylsp.config.pylsp.plugins]
pycodestyle = {enabled = false}
pydocstyle = {enabled = false}
# pylint = {enabled = true, executable="pylint"}
yapf = {enabled = false}
# rope_autoimport = {enabled = true}
# rope_completion = {enabled = true}
ruff = {enabled = false}
jedi_completion = {enabled = false}
jedi_definition = {enabled = false}
# jedi_hover = {enabled = false}
jedi_references = {enabled = false}
# jedi_signature_help = {enabled = false}
jedi_symbols = {enabled = false}
pylsp_rope = {enabled = true}

[[language]]
name = "html"
language-servers = ["vscode-html-language-server", "angular"]
comment-token = "<!--"
roots = ["angular.json"]

[[language]]
name = "scss"
file-types = ["scss"]
language-servers = ["vscode-css-language-server"]

[[language]]
name = "typescript"
file-types = ["ts"]
language-servers = ["typescript-language-server", "angular"]
roots = ["tsconfig.json"]

[[language]]
name = "java"
language-servers = ["jdtls"]
roots = ["pom.xml", "build.gradle", ]

[language-server.jdtls]
command = "jdtls"
args = ["--java-executable", "/Users/skagan/.nix-profile/zulu-21.jdk/Contents/Home/bin/java"]

[language-server.angular]
# --viewEngine required for Angular 12 language server
args = ["--stdio", "--tsProbeLocations", "./node_modules", "--ngProbeLocations", "./node_modules"]
required-root-patterns = ["angular.json"]
